*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:Tahoma, sans-serif;
}
#header{
    width:100%;
    height:3.5rem;
    background-color: black;
    color:#fff;
    display: grid;
    grid-template-columns: auto 1fr auto;
    position: sticky;
}
#logo{
    padding: 18px 20px;
}
header nav a{
    color:#fff;
    text-decoration: none;
    margin-left: 40px;
    font-size: 12px;
}
header nav{
    text-align: center;
    padding:18px 20px;
    
}
#search-bar{
    text-align: right;
    padding:18px 20px;
}
#search{
    width:150px;
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right:none;
    border-bottom:1px solid #fff;
    color:#fff;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
#search:focus{
    outline:none;
    width: 400px;
}

.sidenav {
    height: 660px;
    width: 0;
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
    background-color: #000;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 32px 8px 8px 32px;
    text-decoration: none;
    font-size: 14px;
    color: #fff;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #eee;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
@media (max-width: 885px) {
    header nav, #search-bar
    {
       display: none;
    }
    .openBtn{
        font-size: 22px;
         color: #fff;
         cursor: pointer;
         position: absolute;
         right:10px;
         top:10px;
    }
  }

/* Slideshow container */
.silde-container {
    max-width: 100%;
    max-height:100vh;
    position: relative;
    margin: auto;
  }
  
  /* The indicators */
  .dot {
    height: 2px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active {
    background-color: #717171;
  }
  
  /*animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
    transition: 1s ease-in 1s;
  }
  
  @keyframes fade {
    from {
        padding-left: -100%;
      }
      to {
        padding-left: 0%;
      }
  }

  @media (max-width: 767px) {
    .silde-container img{
        width:100%;
        height:600px;
        object-fit: cover;
      }
  }
.new-product{
    height:250px;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

#button-container{
    width:100%;
    height:100px;
    display: flex;
    justify-content: center;
    align-items: end;
}
#button-container button{
    width:280px;
    height:45px;
    background-color: black;
    color:#fff;
    cursor: pointer;
}
#button-container button:hover{
    border:none;
    background-color: #535353b6;

}
#topics{
    padding:20px 50px;
}
.card-list{
    display: flex;
    overflow-x: scroll;
    margin-left: 40px;
}
.card-list::-webkit-scrollbar{
    width:100%;
    height: 3.5px;
    background-color: #c9c9c9;
    
}
.card-list::-webkit-scrollbar-thumb{
    background: gray;
}
.card-list::-webkit-scrollbar-thumb:hover{
    background: #000;
}
.card{
    display: flex;
    flex-direction: column;
    min-height:400px;
    min-width:300px;
    overflow: hidden;
    margin-left: 15px; 
}
.card-img{
    transition: 0.5s all ease-in-out;
    overflow: hidden;
}
.card-img:hover{
    transform: scale(1.2);
    
}
.card-header{
    z-index: 2;
    width:100%;
    height:100px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 15px;
}
.card-p1{
    font-size:14px;
    font-family: monospace;
}
.card-p2{
    padding-top: 20px;
    font-size: 10px;
    font-family: monospace;
}
.grid-container{
    min-height:700px;
    display: grid;
    padding-left:10px;
    grid-template-columns:1fr 1fr 1fr 1fr;
    position: relative;
    top: 70px;
}
.grid-img{
   
    height: 350px;
    overflow: hidden;
}
.content-img{
    width:300px;
    height: 300px;  
}
.grid-header{
    width:100%;
    height:50px;
    background-color: black;
    color:#fff;
    padding-left: 10px;
    display: flex;
    align-items: center;
    overflow: hidden;
}
@media (max-width: 1248px) {
    .grid-container{ grid-template-columns: repeat(3, 1fr); justify-content: center;
        align-items: center; }
  }
  @media (max-width: 968px) {
    .grid-container{ grid-template-columns: repeat(2, 1fr); justify-content: center;
        align-items: center; }
  }
  @media (max-width: 567px) {
    .grid-container{ grid-template-columns: repeat(1, 1fr); justify-content: center;
        align-items: center; }
  }

  footer{
    width:100%;
    min-height:300px;
    margin-top: 150px;
    padding-top:40px;
    display: flex;
    flex-wrap: wrap;
    background-color: #000;
    color: #fff;
  }
  .content{
   position: relative;
   left:150px;
   margin-left: 100px;
    width: 200px;
    height:200px;
    font-size: 12px;
  }
  .content ul li{
    padding:10px;
    list-style: none;
    font-family:Tahoma, sans-serif;
  }
  .content ul li a{
    text-decoration: none;
    color:#bbb;
    cursor: pointer;
  }
  .link-head{
    font-weight: bold;
    color: #fff;
    margin-bottom: 20px;
  }

  @media (max-width: 767px) {
    .content{
        position: relative;
       left:40px;
       }
  }
  

